:root{
    --primary_color : rgb(73, 250, 73);
    --secondary_color : rgb(165, 243, 165);
    --light_color : rgb(226, 247, 226);
    --dark_color : rgb(7, 240, 7);
    --danger : rgb(252, 132, 132);
    --light-danger : rgb(248, 235, 235);
    --text-outline: 
                    -1px -1px 0 black,  /* Top-left shadow */
                    1px -1px 0 black,   /* Top-right shadow */
                    -1px 1px 0 black,   /* Bottom-left shadow */
                    1px 1px 0 black;
}


.sell_products_no_product {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    color: rgba(128, 128, 128, 0.63);
    font-weight: 700;
    text-transform: capitalize;

}

.sell_products_score_board{
    margin-top: 50px;
    height: 100px;
    width: 300px;
}

.sell_products_score_board tbody tr td{
    font-size: 20px;
    color: grey;
}




.sell_products_containner{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 60px;
    border-top: 1px solid rgba(128, 128, 128, 0.267);
    margin-top: 20px;
}

.sold_product_con{
    display: flex;
    flex-direction: column;
    border: 3px solid var(--dark_color);
    border-radius: 10px;
    /* height: 300px; */
    width: 260px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.sold_product_image {
    height: 200px;
    width: 250px;
    border-radius: 10px;
    padding: 3px;
    margin: 0px auto;
}

.sold_product_image img{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.sold_product_name{
    margin: 10px 0px 5px 10px;
    font-size: 17px;
    color: grey;
    border-top: 1px solid rgba(128, 128, 128, 0.322);
    padding-top: 10px;
    text-transform: capitalize;
}

.sold_product_prize{
    margin: 0px 10px;
    font-size: 15px;
    color: black;
}

.sold_product_category{
    margin: 0px 0px 5px 10px;
    font-size: 15px;
    color: grey;
    text-transform: capitalize;
}

.sold_product_action_button_con{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.sold_product_action_button_con button{
    font-size: 15px;
    font-weight: 600;
    padding: 7px 15px;
    margin-bottom: 5px;

}

.sell_product_delete_button{
    background-color: var(--light-danger);
    color: var(--danger);
    border-radius: 5px;
    border: 2px solid var(--danger);
}

.sell_product_edit_button{
    background-color: rgb(243, 243, 150);
    border: 2px solid rgb(214, 214, 7);
    border-radius: 5px;
}

.sell_product_orders_button{
    background-color: var(--light_color);
    border: 2px solid var(--dark_color);
    border-radius: 5px;
}

.sell_product_delete_window{
    width: 600px;
    margin: 300px auto;
    background-color: var(--light-danger);
    border: 3px solid var(--danger);
    border-radius: 10px;
    padding: 10px;
}

.sell_product_delete_window p{
    text-transform: capitalize;
    margin-bottom: 50px;
    font-size: 25px;
    color: var(--danger);
    text-align: center;
    padding: 20px;
}

.sell_product_delete_window_button{
    display: flex;
    justify-content: space-between;
    border: none;
}

.sell_product_delete_window_button button{
    font-size: 15px;
    padding: 8px 20px;
    border: 2px solid var(--danger);
    border-radius: 5px;
    background-color: var(--light-danger);
    color: var(--danger);
    font-weight: 700;
}

.sold_product_out_of_stock{
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    color: var(--danger);
    top: 10px;
    left: 10px;

}



