.canvas{
    padding: 20px;
}

.global_grey_screen{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.342);
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

@media (max-width : 900px) {
    .input_error{
        font-size: 10px !important;
    }
}